<div class="table-custom spacer">
    <div class="table-responsive mb-4" style="padding-left: 32px; padding-right: 15px;">
        <h3 class="font-type" style="font-size: 25px;">Ultimi 5 movimenti:</h3>
        <table class="table table-bordered table-hover">
            <thead class="bg-warning">
                <tr>
                    <th>Data</th>
                    <th>Importo</th>
                    <th>Categoria</th>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>28/02/2024</td>
                    <td>300,00€</td>
                    <td>Entrata</td>
                    <td>Caffè</td>
                </tr>
                <tr>
                    <td>28/02/2024</td>
                    <td>308,00€</td>
                    <td>Uscita</td>
                    <td>Negozio bici</td>
                </tr>
                <tr>
                    <td>28/02/2024</td>
                    <td>400,00€</td>
                    <td>Entrata</td>
                    <td>Sigarette</td>
                </tr>
                <tr>
                    <td>28/02/2024</td>
                    <td>20,50€</td>
                    <td>Uscita</td>
                    <td>Macchinette</td>
                </tr>
                <tr>
                    <td>28/02/2024</td>
                    <td>20,50€</td>
                    <td>Uscita</td>
                    <td>Macchinette</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>