.font-type {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 400;
}

.title {
    font-family: "IBM Plex Sans Condensed", sans-serif;

    margin-top: 5%;
    font-size: xx-large;
    color: #EC9552;
  }

p{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: large;
}

.btn-close{
    margin-right: 5%;
    margin-top: 1%;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.table-bordered th,
.table-bordered td {
    text-align: center;
    vertical-align: middle;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.bdr {
    border-radius: 6px;
    overflow: hidden;
  }

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}


.bg-warning {
    background-color: #fdba46 !important;
    color: #ffffff;
}

.bg-warning:hover{
    background-color: #EC9552 !important;
}

.spacer-table {
    margin-top: 20px;
}

.spacer {
    margin-top: 30px;
}

.img-position {
    position: relative;
    top: -40px;
}

th {
    background: #ffe1a1;
    font-weight: 600;
}

.table-custom {
    position: relative;
    right: 4%;
}

.table-bordered th,
.table-bordered td {
    padding: 2%;
}

.blurred {
    filter: blur(12px);
    transition: filter 0.3s ease;
}

.notBlurred {
    transition: filter 0.3s ease;
}

@media (max-width: 768px) {
    #img-login {
        display: none;
    }

    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-height: 650px) {
    .body {

        overflow: hidden;
        height: 100vh;
    }
}

.link-like {
    color: #FDBA46;
    text-decoration: underline;
    cursor: pointer;
}

.link-like:hover {
    color: #EC9552;
}

.modal-body p {
    border: none;
}

.modal-body div {
    border: none;
}