.body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
}

.font-type {
  font-family: "IBM Plex Sans Condensed", sans-serif;

}
 
.error-container {
  max-width: 600px;
}

.error-container img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 3em !important;
  color: #EC9552;
  margin-top: 10%;
  font-weight: 300 !important;
}

img {
  width: 80%;
}
 
.btn-warning {
  background-color: #ec9552;
  color: white;
  border: none;
  box-shadow: 0 2px 2px rgb(209, 203, 203) !important;
}

.btn-warning:hover {
  background-color: #c9702c;
}