.font-type {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

h2{
  font-weight: 400 !important;
}

h2 strong {
  color: #fdba46;
  font-weight: 500 !important;
}

.main {
  padding-left: 7%;
  padding-right: 7%;
}

.welcome-message {
  font-size: 1.75rem;
  color: #333;
  font-size: 3rem;
  line-height: 55px;
}

.total-amount {
  font-size: 2rem;
  color: black;
  display: inline-block;
  font-style: italic;
  -webkit-user-select: none; /* Safari e Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer e Edge */
  user-select: none; /* Standard per browser moderni */
  font-size: 3rem;
  line-height: 55px;
}

.eye-icon {
  font-size: 1.5rem;
  margin-left: 15px;
}

.last-movements {
  font-size: 1.5rem;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.table-bordered th,
.table-bordered td {
  text-align: center;
  vertical-align: middle;
}

.table a {
  color: #007bff;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.bg-warning {
  background-color: #fdba46 !important;
  color: #ffffff;
}

.spacer-table {
  margin-top: 20px;
}

.spacer {
  margin-top: 30px;
}

.img-position {
  position: relative;
  top: -40px;
}

th {
  background: #ffe1a1;
}

.table-custom {
  position: relative;
  right: 4%;
}

.table-bordered th,
.table-bordered td {
  padding: 2%;
}

app-eyes-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  #img-login {
    display: none;
  }

  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-height: 650px) {
  .body {
    overflow: hidden;
    height: 100vh;
  }
}
