.font-type {
  font-family: "IBM Plex Sans", sans-serif;
}


.welcome-message {
  font-size: 1.75rem;
  color: #333;
}

.total-amount {
  font-size: 2rem;
  color: black;
  display: inline-block;
  font-style: italic;
  user-select: none;
}

.eye-icon {
  font-size: 1.5rem;
  margin-left: 15px;
}


.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.table-bordered th,
.table-bordered td {
  text-align: center;
  vertical-align: middle;
}

.table a {
  color: #007bff;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}


.bg-warning {
  background-color: #fdba46 !important;
  color: #ffffff;
}


.spacer-table {
  margin-top: 20px;
}

.spacer {
  margin-top: 30px;
}

.img-position {
  position: relative;
  top: -40px;
}

th {
  background: #ffe1a1;
}

.table-custom {
  position: relative;
  right: 4%;
}

.table-bordered th,
.table-bordered td {
  padding: 2%;
}

.blurred {
  filter: blur(12px);
  transition: filter 0.3s ease;
}

.notBlurred {
  transition: filter 0.3s ease;
}

.notBlurred { /* Sfoca il contenuto */
  transition: filter 0.3s ease; /* Transizione per un effetto più fluido */
}

@media (max-width: 768px) {
  #img-login {
    display: none;
  }

  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-height: 650px) {
  .body {

    overflow: hidden;
    height: 100vh;
  }
}