<app-nav-bar></app-nav-bar>
<div class="container custom-container">
  <div class="row align-items-center">
    <!-- Parte sinistra: Form più grande -->
    <div class="col-lg-6 col-md-12 form-recharge">
      <span class="h2 font-type title-h2">Effettua la ricarica</span>
      <div class="form-container">
        <form id="form" #rechargeForm="ngForm">
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Numero di Telefono</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              placeholder="Inserisci qui il tuo numero di telefono"
              [(ngModel)]="phoneNumber"
              name="phoneNumber"
              required
              maxlength="10"
              pattern="[0-9]*"
              #phoneInput="ngModel"
            />
            <!-- Verifica se il numero non è valido in base alla lunghezza -->
            <div *ngIf="!isPhoneNumberValid() && phoneInput.touched" class="text-danger">
              Il numero di telefono deve essere di 9 o 10 cifre.
            </div>
            <!-- Verifica specifica per il pattern -->
            <div *ngIf="phoneInput.invalid && phoneInput.touched" class="text-danger">
              <div *ngIf="phoneInput.errors?.['pattern']">Il numero di telefono deve contenere solo cifre.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="operator" class="form-label">Seleziona il tuo Operatore</label>
            <select class="form-select" id="operator" [(ngModel)]="operator" name="operator" required>
              <option value="" selected>Operatore</option>
              <option value="Iliad">Iliad</option>
              <option value="Vodafone">Vodafone</option>
              <option value="WindTre">WindTre</option>
              <option value="TIM">TIM</option>
              <option value="Coop mobile">Coop mobile</option>
              <option value="Poste mobile">Poste mobile</option>
              <option value="Fastweb">Fastweb</option>
              <option value="Ho">Ho</option>
              <!-- Aggiungi altre opzioni se necessario -->
            </select>
          </div>
          <div class="mb-3">
            <label for="amount" class="form-label">Seleziona il taglio della Ricarica</label>
            <select class="form-select" id="amount" [(ngModel)]="amount" name="amount" required>
              <option value="0" selected>Taglio</option>
              <option value="5">5€</option>
              <option value="10">10€</option>
              <option value="20">20€</option>
              <option value="30">30€</option>
              <option value="50">50€</option>
              <!-- Aggiungi altre opzioni se necessario -->
            </select>
            <div id="recharge-error" class="text-danger mt-3" role="alert"></div>
          </div>
          <!-- Contenitore del pulsante centrato -->
          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              type="submit"
              id="btn-submit"
              class="btn btn-warning"
              [disabled]="!isFormValid()"
              (click)="createPhoneMovement(phoneNumber, operator, amount, $event)"
            >
              Effettua ricarica
            </button>
          </div>
        </form>
        <br />
      </div>
    </div>
    <!-- Parte destra: Immagine e saldo sotto -->
    <div class="col-lg-6 col-md-12 text-center container-phone">
      <div class="d-flex flex-column align-items-center">
        <!-- Saldo sotto l'immagine -->
        <div class="balance mt-2">
          Saldo Residuo:
          <strong>{{ balance | currency : "EUR" : "symbol" : "1.2-2" }}</strong>
        </div>
        <!-- Immagine del telefono -->
        <img
          src="../../../assets/phone.png"
          alt="Phone Icon"
          class="phone-icon mb-3 img-fluid right-img d-none d-md-block"
        />
      </div>
    </div>
  </div>
</div>

<div>
  <a href="/dashboard">
    <img
      src="../../../assets/HomeIcon.svg"
      class="img-fluid home-icon right-img d-none d-md-block"
      alt="Img dashboard"
    />
  </a>
</div>

<app-success-popup
  [show]="showSuccessAlert"
  [message]="'Ricarica effettuata con successo!'"
  (closed)="closeAlert()"
></app-success-popup>
