.font-type {
  font-family: "IBM Plex Sans", sans-serif;
}

.form-recharge {
  transform: translateY(-10%);
}

.title-h2 {
  position: relative;
  font-size: 3rem;
  left: 10px;
}

.container-phone {
  position: relative;
  top: 10px;
}

.custom-container {
  margin-top: 50px;
}

.phone-icon {
  width: 300px;
  height: auto;
}

.balance {
  font-size: 1.2rem;
  margin-top: 10px;
}

.form-control:focus, .form-select:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);

}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

app-success-popup {
  width: 100vw;
  height: auto;
}

#btn-submit {
  background-color: #ec9552;
  color: #fff;
  margin-top: 1rem;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.home-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.home-icon img {
  width: 50px;
}

@media (max-width: 768px) {
  .balance {
    display: none;
  }
}


