<app-nav-bar></app-nav-bar>
<div class="container custom-container">
  <div class="row align-items-center">
    <!-- Parte sinistra: Form più grande -->
    <div class="col-lg-6 col-md-12">
      <span class="h2 title-h2">Effettua la ricarica</span>
      <div class="form-container">
        <form style="margin-top: 25px">
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Numero di Telefono</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              placeholder="Inserisci qui il tuo numero di telefono"
            />
          </div>
          <div class="mb-3">
            <label for="operator" class="form-label">Seleziona il tuo Operatore</label>
            <select class="form-select" id="operator">
              <option value="" selected>Seleziona un operatore</option>
              <option value="Iliad">Iliad</option>
              <option value="Vodafone">Vodafone</option>
              <option value="WindTre">WindTre</option>
              <option value="TIM">TIM</option>
              <option value="Coop mobile">Coop mobile</option>
              <option value="Poste mobile">Poste mobile</option>
              <option value="Fastweb">Fastweb</option>
              <option value="Ho">Ho</option>
              <!-- Aggiungi altre opzioni se necessario -->
            </select>
          </div>
          <div class="mb-3">
            <label for="amount" class="form-label">Seleziona il taglio della Ricarica</label>
            <select class="form-select" id="amount">
              <option value="5">5€</option>
              <option value="10">10€</option>
              <option value="20">20€</option>
              <option value="30">30€</option>
              <option value="50">50€</option>
              <!-- Aggiungi altre opzioni se necessario -->
            </select>
          </div>
          <button type="submit" class="btn btn-warning w-100">Effettua ricarica</button>
        </form>
      </div>
    </div>

    <!-- Parte destra: Immagine e saldo sotto -->
    <div class="col-lg-6 col-md-12 text-center container-phone">
      <div class="d-flex flex-column align-items-center">
        <!-- Saldo sotto l'immagine -->
        <div class="balance mt-2" style="margin-bottom: 30px">
          Saldo Residuo:
          <strong>5.834,50€</strong>
        </div>
        <!-- Immagine del telefono -->
        <img src="../../../assets/phone.png" alt="Phone Icon" class="phone-icon mb-3" />
      </div>
    </div>
  </div>
</div>

<!-- Icona della casa in basso a sinistra -->
<div class="home-icon">
  <a href="#">
    <img src="https://via.placeholder.com/50.png?text=Home" alt="Home Icon" />
  </a>
</div>
