<!-- <app-nav-bar></app-nav-bar>
<div class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6">
      <h1 class="">Effettua bonifico</h1>
      <p class="text-muted">Ricontrolla i dati</p>

      <div class="card p-4 mb-4 shadow-sm">
        <div class="mb-3">
          <h5>Da: {{ bonificoForm.get("fromFullName")?.value }}</h5>
          <p>IBAN: {{ bonificoForm.get("fromIBAN")?.value }}</p>
        </div>
        <div class="mb-3">
          <h5>A: {{ bonificoForm.get("toFullName")?.value }}</h5>
          <p>IBAN: {{ bonificoForm.get("toIBAN")?.value }}</p>
        </div>
        <div class="mb-3">
          <p>Causale: {{ bonificoForm.get("description")?.value }}</p>
          <p>Importo: {{ bonificoForm.get("amount")?.value }} €</p>
        </div>
      </div>

      <div class="d-grid">
        <button class="btn btn-warning btn-lg" id="btn-submit" (click)="onSubmit()">Effettua bonifico</button>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="../../../assets/BankTransfer.png" alt="Bank Transfer" class="img-fluid align-self-center" />
    </div>
  </div>
</div> -->
