<app-nav-bar></app-nav-bar>
<div class="container dashboard">
  <div class="row">
    <!-- Colonna per i dettagli utente -->
    <div class="col-md-12 user-detail">
      <h2>Profilo:</h2>

      <div class="user-info">
        <p>
          <strong>Nome:</strong>
          {{ currentUser?.firstName }}
        </p>
        <p>
          <strong>Cognome:</strong>
          {{ currentUser?.lastName }}
        </p>
        <p>
          <strong>Email:</strong>
          {{ this.email }}
        </p>
        <p>
          <strong>Iban:</strong>
          {{ currentUser?.iban }}
        </p>
        <p>
          <strong>Data Apertura Conto:</strong>
          {{ currentUser?.openDate | date : "dd/MM/yyyy" }}
        </p>
      </div>

      <!-- Pulsante per aprire il modale -->
      <button class="btn btn-warning mt-3 password-button" (click)="openChangePasswordModal(modalContent)">
        Modifica password
      </button>
    </div>
  </div>
</div>
<!-- Modale per il cambio password -->
<ng-template #modalContent>
  <div class="modal-header">
    <h4 class="modal-title" id="changePasswordModalLabel">Modifica Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="passwordForm!">
      <div class="mb-3 position-relative">
        <label for="confirm-password" class="form-label">Inserisci la password</label>
        <input
          type="password"
          formControlName="newPassword"
          class="form-control"
          id="newPassword"
          placeholder="Inserisci la password"
          required
        />
        <div class="eye-icon" (click)="togglePasswordVisibility('newPassword')">
          <app-eyes-icon
            [size]="'25px'"
            (state)="(isPasswordVisible)"
            [ngClass]="{ show: isPasswordVisible, hide: !isPasswordVisible }"
          ></app-eyes-icon>
        </div>
      </div>
      <div class="mb-3 position-relative">
        <label for="confirmPassword" class="form-label">Conferma Nuova Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          id="confirmPassword"
          placeholder="Conferma la nuova password"
          required
        />
        <div class="eye-icon" (click)="togglePasswordVisibility('confirmPassword')">
          <app-eyes-icon
            [size]="'25px'"
            (state)="(isPasswordVisible)"
            [ngClass]="{ show: isPasswordVisible, hide: !isPasswordVisible }"
          ></app-eyes-icon>
        </div>
      </div>
    </form>
    <div *ngIf="touchAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      Inserisci tutti i campi!
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="closeAlert()"
      ></button>
    </div>
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      Le password non corrispondono!
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="closeAlert()"
      ></button>
    </div>
    <div *ngIf="showSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
      Password modificata con successo! Reindirizzamento alla pagina di login...
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="closeAlert()"
      ></button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Chiudi</button>
    <button type="button" class="btn btn-warning" (click)="submitChangePassword()" style="color: white !important">
      Salva
    </button>
  </div>
</ng-template>

<div>
  <a href="/dashboard">
    <img
      src="../../../assets/HomeIcon.svg"
      class="img-fluid home-icon right-img d-none d-md-block"
      alt="Img dashboard"
    />
  </a>
</div>
