.container {
  margin-top: 50px;
}

.title {
  display: block;
  margin-bottom: 20px; /* Spazio sotto il titolo */
}

.no-moovement {
  font-size: 50px;
  text-align: center;
}

.bg-filter {
  background: #ffe1a1;
}

.home-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.home-icon img {
  width: 50px;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.max-height {
  max-height: 500px;
  overflow-y: auto;
}

th {
  background: #ffe1a1;
}

button.btn {
  background-color: #ffa500;
  color: white;
}
