* {
  box-sizing: border-box;
}

.font-type {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
}

.title-h2 {
  font-size: 3rem;
  margin-left: 30px;
}

.span-description {
  margin-left: 35px;
  font-size: medium;
}

form {
  margin-top: 20px;
}

form input,
form select {
  background-color: #f8fafc;
  width: 90%;
  margin-left: 5%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

form input:first-child {
  margin-top: 10px;
}

form input:focus,
form select:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

form button {
  background-color: #ec9552;
  width: 30%;
  margin-left: 70%;
  color: #fff;
  font-weight: normal;
  font-style: italic;
  padding: 4px;
}

form button:hover {
  background-color: #c06c2d;
}

.right-img {
  width: 75%;
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h5 {
  font-weight: bold;
}

.card {
  border-radius: 15px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 2px gray !important;
}

.btn-warning {
  background-color: #ec9552;
  color: white;
  border: none;
}

.btn-warning:hover {
  background-color: #c9702c;
}

.d-flex {
  justify-content: space-between;
}

.btn {
  flex: 1;
  margin: 0 5px;
}

div .home-icon {
  background-color: #ec9552;
  border-radius: 30%;
  box-shadow: 0 2px 2px rgb(209, 203, 203) !important;
}

.home-icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  width: 45px;
  height: auto;
}

#btn-check {
  transform: translateX(-115%);
}

.btn-md {
  font-size: 0.75rem;
  padding: 8px;
}

@media (max-width: 768px) {
  .img-fluid {
    display: none;
  }
}
