<app-nav-bar></app-nav-bar>
<div class="container font-type">
  <div class="row">
    <div class="col-md-6 form" *ngIf="showDataInsert">
      <p class="font-type title mb-4">Effettua bonifico</p>
      <form #transferForm="ngForm" (ngSubmit)="onSubmit()">
        <p class="font-type description mt-5">Inserisci i dati per fare il bonifico:</p>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="transferData.firstName"
            name="firstName"
            placeholder="Inserire Nome del destinatario"
            (focusout)="validateFirstName()"
            required
            id="firstName"
            #firstName="ngModel"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="transferData.lastName"
            name="lastName"
            placeholder="Inserire Cognome del destinatario"
            (focusout)="validateLastName()"
            required
            #lastName="ngModel"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            [minLength]="27"
            [maxLength]="27"
            [(ngModel)]="transferData.iban"
            name="iban"
            placeholder="Inserire IBAN del destinatario"
            required
            (focusout)="validateIban()"
            #iban="ngModel"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="transferData.description"
            name="description"
            placeholder="Inserire la Causale"
            #description="ngModel"
          />
        </div>
        <div class="mb-3">
          <input
            type="number"
            min="1"
            class="form-control"
            [(ngModel)]="transferData.amount"
            name="amount"
            placeholder="Inserire Importo"
            (focusout)="validateAmount()"
            required
            #amount="ngModel"
          />
        </div>
        <div *ngIf="errors.length > 0" class="text-danger error-list">
          <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </div>
        <!-- Centered Button -->
        <div class="d-flex justify-content-center mt-4">
          <!-- Disabilita il pulsante se il form non è valido -->
          <button type="submit" id="btn-check" class="btn btn-warning" [disabled]="!transferForm.form.valid">
            Controlla Dati
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-6 form font-type" *ngIf="showCheckTransfer">
      <div class="container">
        <p class="title mb-4">Riepilogo Bonifico</p>
        <p class="font-type">Ricontrolla i dati</p>
        <div class="card p-4 mb-4 shadow-sm">
          <div class="mb-3">
            <h5>Da: {{ currentUser.fullName }}</h5>
            <p>IBAN: {{ currentUser.iban }}</p>
          </div>
          <div class="mb-3">
            <h5>A: {{ fullName }}</h5>
            <p>IBAN: {{ transferData.iban }}</p>
          </div>
          <div class="mb-3">
            <p>Causale: {{ transferData.description }}</p>
            <p>Importo: € {{ transferData.amount }}</p>
          </div>
          <div id="transfer-error" class="text-danger" role="alert"></div>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning btn-md flex-fill me-2 font-type" (click)="editTransfer()">
            Modifica Dati
          </button>
          <button class="btn btn-warning btn-md flex-fill ms-2 font-type" (click)="confirmTransfer()">
            Conferma Bonifico
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../../assets/BankTransfer.png"
        class="img-fluid right-img d-none d-md-block"
        alt="Transfer Illustration"
      />
    </div>
  </div>
</div>

<div>
  <a href="/dashboard">
    <img src="../../../assets/HomeIcon.svg" class="img-fluid home-icon d-none d-md-block" alt="Img dashboard" />
  </a>
</div>

<app-success-popup
  [show]="showSuccessComponent"
  (closed)="closeAlert()"
  [message]="'Bonifico effettuato con successo'"
></app-success-popup>
