<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <div class="p-4 font-type">
        <p class="title mb-4">Conferma email fallita</p>
        <p class="description card-text mb-4">La tua email non è stata confermata con successo. Rieffettua la registrazione!</p>
        <button class="btn btn-warning" (click)="navigateToRegister()">Torna alla registrazione</button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img src="../../../assets/unsuccess.jpg" alt="Success Image" />
    </div>
  </div>
</div>
