<div class="body">
  <div class="container font-type">
    <div class="header font-type">
      <p class="title">Ciao, sei nuovo qui?</p>
      <p>
        Che tu sia già con noi o stia per unirti, resta al nostro fianco: noi di
        <br />
        <span class="brand font-type">myBanking</span>
        puntiamo in alto e creiamo il futuro che desideri!
      </p>
    </div>
    <div class="content">
      <div class="left-section">
        <p class="title mb-5 ">Vuoi farne parte?</p>
        <a href="/register" class="btn btn-warning d-grid gap-2 col-3 mx-auto font-type">Registrati</a>
      </div>
      <div class="right-section">
        <p class="title mb-5">Sei già del posto?</p>
        <a href="/login" class="btn btn-warning d-grid col-3 mx-auto font-type">Vai al Login</a>
      </div>
    </div>
  </div>

  <div class="image-section">
    <img src="../../../assets/HomePageImg.png" alt="People Illustration" />
  </div>
</div>