<div class="body">
  <div class="container">
    <div class="header">
      <h1>Ciao, sei nuovo qui?</h1>
      <p>
        Che tu sia già con noi o stia per unirti, resta al nostro fianco: noi di
        <br />
        <span class="brand">myBanking</span>
        puntiamo in alto e creiamo il futuro che desideri!
      </p>
    </div>
    <div class="content">
      <div class="left-section">
        <p>Vuoi farne parte?</p>
        <a href="/register" class="button">Registrati</a>
      </div>
      <div class="right-section">
        <p>Sei già del posto?</p>
        <a href="/login" class="button">Vai al Login</a>
      </div>
    </div>
  </div>
</div>
<div class="image-section">
  <img src="../../../assets/HomePageImg.png" alt="People Illustration" />
</div>
