/* Typography for IBM Plex Sans */
.font-type {
  font-family: "IBM Plex Sans", sans-serif;
}

/* Navbar Styles */
nav {
  box-shadow: 0 2px 4px rgba(74, 73, 73, 0.5);
}

.navbar-nav li a:hover,
.navbar-nav li .active {
  background-color: #ec9552;
  border-radius: 10px;
}

.navbar-nav li a {
  font-size: 0.9rem; /* Font size leggermente aumentato */
  text-align: center;
  height: 56px;
  line-height: 56px; /* Allineamento verticale */
  padding: 0 15px; /* Padding orizzontale per migliorare l'aspetto */
  border-radius: 10px;

}

/* Logout Button */
#logout {
  margin-right: 10px;
  color: white;
  background-color: #ec9552;
  border: none;
  padding: 8px 15px; /* Aggiunto padding per migliorare l'aspetto */
  transition: background-color 0.3s; /* Effetto di transizione */
}

#logout:hover {
  background-color: #ef600d;
}

/* Layout Adjustments */
.padding-custom {
  padding: 0;
  height: 56px;
}

.align-text-custom {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.navbar-collapse {
  justify-content: start;
}

.d-flex.align-items-center {
  gap: 10px;
}

/* Resetting padding for containers */
.container,
.container-fluid {
  padding: 0;
}

