<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-warning padding-custom">
  <div class="container-fluid">
    <!-- Collapsible part of the navbar -->
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <!-- Button for toggling the navbar on smaller screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <ul class="navbar-nav me-auto d-flex">
        <li class="nav-item">
          <a
            class="nav-link align-text-custom activated px-4"
            routerLink="/app/dashboard/recharge"
            routerLinkActive="active"
          >
            Ricarica
            <br />
            Cellulare
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-text-custom" routerLink="/app/dashboard/view" routerLinkActive="active">
            Visualizza
            <br />
            Movimenti
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-text-custom" href="#" routerLink="/app/dashboard/transfer" routerLinkActive="active">
            Effettua
            <br />
            Bonifico
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-text-custom" href="#" routerLink="/app/dashboard/profile" routerLinkActive="active">
            Visualizza il
            <br />
            tuo Profilo
          </a>
        </li>
      </ul>

      <!-- Right side buttons -->
      <div class="d-flex align-items-center">
        <!-- <a href="#" class="btn btn-outline-warning me-2" id="reset-password">Modifica Password</a> -->
        <button class="btn btn-outline-danger" id="logout">LOGOUT</button>
      </div>
    </div>
  </div>
</nav>
