<!-- Occhio Aperto -->
<svg
  *ngIf="!isOpen"
  class="visibility-icon"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  [attr.width]="size"
  [attr.height]="size"
  class="eye-icon"
>
  <path
    d="M12 4.5C7.05 4.5 2.73 7.61 1 12c1.73 4.39 6.05 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6.05-7.5-11-7.5zm0 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8.5c-1.93 0-3.5 1.57-3.5 3.5S10.07 16 12 16s3.5-1.57 3.5-3.5S13.93 9 12 9z"
  />
</svg>

<!-- Occhio Chiuso -->
<img
  *ngIf="isOpen"
  [src]="'../../../assets/HideEyes.png'"
  [style.width]="size"
  [style.height]="size"
  alt="Hide Eyes"
  class="eye-icon"
/>
