<app-nav-bar></app-nav-bar>
<div class="container dashboard">
  <div class="row">
    <!-- Colonna per i dettagli utente -->
    <div class="col-md-4 user-detail">
      <h2>Benvenuto, {{ user.nome }}</h2>

      <div class="user-info">
        <p>
          <strong>Nome:</strong>
          {{ user.nome }}
        </p>
        <p>
          <strong>Cognome:</strong>
          {{ user.cognome }}
        </p>
        <p>
          <strong>Email:</strong>
          {{ user.email }}
        </p>
        <p>
          <strong>Iban:</strong>
          {{ user.iban }}
        </p>
        <p>
          <strong>Data Apertura Conto:</strong>
          {{ user.dataAperturaConto }}
        </p>
      </div>

      <button (click)="modificaPassword()" class="btn btn-warning mt-3 password-button">Modifica password</button>
    </div>

    <!-- Colonna per i grafici -->
    <div class="col-md-8 user-grafh">
      <div class="row">
        <!-- Uscite Mensili (line chart) -->
        <div class="col-md-6 chart-section">
          <h3>Uscite Mensili</h3>
          <div class="chart-wrapper">
            <canvas #lineChart></canvas>
          </div>
        </div>

        <!-- Distribuzione Spese (pie chart) -->
        <div class="col-md-6 spese-section">
          <h3>Distribuzione Spese</h3>
          <div class="chart-wrapper">
            <canvas #pieChart></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
