<div class="container-fluid body">
  <div class="row w-100">
    <!-- Left Column: Login Form -->
    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center login-container">
      <div class="login-form w-100 p-3" style="max-width: 500px;">

        <h2 class="text-center mb-4">
          <span class="h2 actual">Login</span>
          <span class="separate">|</span>
          <span class="h2" (click)="navigate('register')">Registrati</span>
        </h2>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="username"
              [(ngModel)]="loginData.username"
              placeholder="Inserisci qui la tua mail"
            />
          </div>
          <div class="mb-3 position-relative">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="loginData.password"
              placeholder="Inserisci qui la tua password"
            />
            <div class="eye-icon" (click)="togglePasswordVisibility('password')">
              <app-eyes-icon
                [size]="'25px'"
                (state)="(isPasswordVisible)"
                [ngClass]="{ show: isPasswordVisible, hide: !isPasswordVisible }"
              ></app-eyes-icon>
            </div>
            <!-- <div class="form-text text-success">Success message</div> -->
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Continua</button>
          </div>
        </form>

        <!-- Div for login error message -->
        <div id="login-error" class="text-danger mt-3">Credenziali non valide. Riprova.</div>
      </div>
    </div>
    <!-- Right Column: Image -->
    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center illustration">
      <img src="../../../assets/loginImage.png" id="img-login" class="img-fluid" alt="Illustration" />
    </div>
  </div>
</div>
